.App {
  text-align: center;
}



/* .Button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 0.5rem;
  cursor: pointer;
}

.Button:hover {
  background-color: lightgreen;
  color: black;
}

.Button.Red {
  background-color: red;
}

.Button.Red:hover {
  background-color: salmon;
} */

